# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Data
data/
*.pt
*.pth

# Videos and images
*.mp4
*.png
*.jpg
*.jpeg
*.gif

# Directories with large files
videos/
cheetah_videos/
B30_T230/
figures/
expert_demos/
training_curves/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
